<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="get-movements">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <iron-ajax
     id = "getMovementsAjax"
     url="[[baseUrl]]/apitechu/v1/users/accounts/{{accountid}}"
     handle-as="json"
     on-response="showData"
     headers='{{headers}}'>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GetMovements extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'get-movements'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         customHeader: {
           value: 'hello world!'
         },
         storedUser: Object,
         accountid: {
           type: Number,
           observer: '_accountidChanged'
         },
         baseUrl: {
             type: String
         }
       };
     }

     _accountidChanged() {
       if (this.storedUser.loggedin) {
         // add token authorization and generate Ajax request
         this.headers = {'x-access-token' : this.storedUser.access_token};
         this.$.getMovementsAjax.generateRequest();
       }
     }

     showData(data){
       console.log("Se ha recibido respuesta del API Movements");

       var movements = data.detail.response[0].movement
       for (var i in movements) {
         var date = new Date(movements[i].timestamp)
         movements[i].timestamp = date.toLocaleDateString() + " " + date.toTimeString();
       }

       this.dispatchEvent(
         new CustomEvent(
           "accountdetailreceived",
           {
             "detail" : {
               "movements" : data.detail.response
             }
           }
         )
       );
     }
   }
   window.customElements.define(GetMovements.is, GetMovements);
 </script>
</dom-module>
