<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="show-movements">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <div class="row">
     <h4 class="col-md-12 text-center">Movimientos de la cuenta</h4>
   </div>

   <div class="row">
     <div class="col-md-10 mb-3 text-center">
        <simple-material-table id="movements" columns="[[columns]]" table-data="[[movements.movement]]" sortColumnIndex=1 sortColumnAsc=false>
        </simple-material-table>
      </div>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ShowMovements extends Polymer.Element {
     static get is() { return 'show-movements'; }
     static get properties() {
       return {
         movements : {
           type: Object
         },
         columns : {
           type: Array
         }
       }
      };
      constructor() {
        super();
        this.columns = [{
          title: "Timestamp",
          number: false,
          column: 'timestamp',
          hidden: false
        }, {
          title: "Tipo movimiento",
          number: true,
          column: 'type',
          hidden: false
        },{
          title: "Importe",
          number: true,
          column: 'amount',
          hidden: false
        },{
          title: "Comentario",
          number: false,
          column: 'comment',
          hidden: false
        }];
      }
      _onRowSelected (row){
        console.log(row);
      }

    }
   window.customElements.define(ShowMovements.is, ShowMovements);
 </script>
</dom-module>
