ve<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./get-movements.html">
<link rel="import" href="./show-movements.html">

<dom-module id="visor-movimientos">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <get-movements  id="getter" base-url="[[baseUrl]]" on-accountdetailreceived="showMovements"></get-movements>
   <show-movements id="receiver"></show-movements>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorMovimientos extends Polymer.Element {
     static get is() { return 'visor-movimientos'; }
     static get properties() {
       return {
        accountid: {
          type: Number,
          observer: '_accountidChanged'
        },
        baseUrl: {
            type: String
        }
       };
     }
     showMovements(e){
       console.log("Se ha procesado el evento inforeceived Movements");
       var movements = e.detail.movements[0];
       this.$.receiver.movements = movements;
     }

     _accountidChanged(){
       console.log("Cuenta seleccionada: " + this.accountid);
       this.$.getter.accountid = this.accountid;
     }
   }

   window.customElements.define(VisorMovimientos.is, VisorMovimientos);
 </script>
</dom-module>
