<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../session-storage.html">

<dom-module id="get-accounts">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <session-storage name="user-storage" value="{{storedUser}}" on-session-storage-load="initStoredUser"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <iron-ajax
     id = "getAccountsAjax"
     url="[[baseUrl]]/apitechu/v1/users/accounts"
     handle-as="json"
     on-response="showData"
     headers='{{headers}}'>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GetAccounts extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'get-accounts'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         customHeader: {
           value: 'hello world!'
         },
         storedUser: Object,
         baseUrl: {
             type: String
         },
         reload: {
           type: Number,
           observer: '_reloadChanged'
         }
       };
     }

     _reloadChanged(){
       this.initStoredUser();
     }

     initStoredUser() {
           if (this.storedUser.loggedin) {
               this.getAccautsData();
           }
       }

       getAccautsData() {
           // add token authorization and generate Ajax request
           this.headers = {'x-access-token' : this.storedUser.access_token};
           this.$.getAccountsAjax.generateRequest();
       }

     showData(data){
       console.log("Se ha recibido respuesta del API Accounts");

       this.dispatchEvent(
         new CustomEvent(
           "inforeceived",
           {
             "detail" : {
               "accounts" : data.detail.response
             }
           }
         )
       );
     }
   }
   window.customElements.define(GetAccounts.is, GetAccounts);
 </script>
</dom-module>
