<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">

<dom-module id="show-accounts">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="row">
    <simple-material-table id="accounts" columns="[[columns]]" table-data="[[accounts]]" on-row-selected="_onRowSelected"
      on-action-add="_onActionAdd" on-action-edit="_onActionEdit" on-action-delete="_onActionDelete">
    </simple-material-table>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ShowAccounts extends Polymer.Element {
     static get is() { return 'show-accounts'; }
     static get properties() {
       return {
         accounts : {
           type: Array
         },
         columns : {
           type: Array
         }
       }
      };
      constructor() {
        super();
        this.columns = [{
          title: "IBAN",
          number: false,
          column: 'iban',
          hidden: false
        }, {
          title: "balance",
          number: true,
          column: 'balance',
          formatter: function (value) {
            return parseFloat(value).toFixed(2);
          },
          hidden: false
        },{
          title: "Account Id",
          number: false,
          column: 'accountid',
          hidden: true
        }];
      }
      _onRowSelected (row){
        this.dispatchEvent(
          new CustomEvent(
            "accountselectedinshow",
            {
              "detail" : {
                "accounts" : row.detail
              }
            }
          )
        );
      }

    }
   window.customElements.define(ShowAccounts.is, ShowAccounts);
 </script>
</dom-module>
