<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./get-accounts.html">
<link rel="import" href="./show-accounts.html">

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <get-accounts id="getter" base-url="[[baseUrl]]" on-inforeceived="showAccounts"></get-accounts>
   <show-accounts id="receiver" on-accountselectedinshow="accountSelected"></show-accounts>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         baseUrl: {
             type: String
         },
         accounts: {
           type: Object
         },
         reload: {
           type: Number,
           observer: '_reloadChanged'
         }
       };
     }
     _reloadChanged(){
       this.$.getter.reload = this.reload;
     }

     showAccounts(e){
       console.log("Se ha procesado el evento inforeceived Accounts");
       this.accounts = e.detail.accounts;
       this.$.receiver.accounts = this.accounts;
     }

     accountSelected(e){
       this.dispatchEvent(
         new CustomEvent(
           "accountselectedinvisor",
           {
             "detail" : {
               "accountSelected" : e.detail.accounts,
               "accounts" : this.accounts
             }
           }
         )
       )
     }
   }

   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
