<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="get-userdata">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <session-storage name="user-storage" value="{{storedUser}}" on-session-storage-load="initStoredUser"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <iron-ajax
     id = "getUserdataAjax"
     url="[[baseUrl]]/apitechu/v1/me"
     handle-as="json"
     on-response="showData"
     headers='{{headers}}'>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GetUserdata extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'get-userdata'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         storedUser: Object,
         accountid: {
           type: Number
         },
         baseUrl: {
             type: String
         },
         reload: {
           type: Number,
           observer: '_reloadChanged'
         }
       };
     }

     _reloadChanged(){
       this.getUserData();
     }

     getUserData() {
       if (this.storedUser.loggedin) {
         // add token authorization and generate Ajax request
         this.headers = {'x-access-token' : this.storedUser.access_token};
         this.$.getUserdataAjax.generateRequest();
       }
     }

     initStoredUser() {
         if (this.storedUser.loggedin) {
             this.getUserData();
         }
     }

     showData(data){
       console.log("Se ha recibido respuesta del API Me");
       this.dispatchEvent(
         new CustomEvent(
           "userdatareceived",
           {
             "detail" : {
               "email" : data.detail.response.email,
               "first_name" : data.detail.response.first_name,
               "last_name" : data.detail.response.last_name,
               "gender" : data.detail.response.gender,
               "avatar" : data.detail.response.avatar
             }
           }
         )
       );
     }
   }
   window.customElements.define(GetUserdata.is, GetUserdata);
 </script>
</dom-module>
