ve<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./get-userdata.html">
<link rel="import" href="./show-userdata.html">

<dom-module id="modificar-datosusuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <get-userdata  id="getter" accountid="{{accountid}}" base-url="[[baseUrl]]" on-userdatareceived="showUserData"></get-userdata>
   <show-userdata id="receiver" base-url="[[baseUrl]]" ></show-userdata>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ModificarDatosusuario extends Polymer.Element {
     static get is() { return 'modificar-datosusuario'; }
     static get properties() {
       return {
        accountid: {
          type: Number
        },
        baseUrl: {
            type: String
        },
        reload: {
          type: Number,
          observer: '_reloadChanged'
        }
       };
     }

     _reloadChanged(){
       this.$.getter.reload = this.reload;
       this.$.receiver.reload = this.reload;
     }

     showUserData(e){
       console.log("Se ha procesado el evento userdata received");
       this.$.receiver.email = e.detail.email;
       this.$.receiver.first_name = e.detail.first_name;
       this.$.receiver.last_name = e.detail.last_name;
       this.$.receiver.gender = e.detail.gender;
       this.$.receiver.avatar = e.detail.avatar;
     }

     getAccautData(){
       this.$.getter.getAccautData();
     }
   }

   window.customElements.define(ModificarDatosusuario.is, ModificarDatosusuario);
 </script>
</dom-module>
