<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="show-userdata">
 <template>
   <style>
     :host {
       display: block;
     }
     paper-button.blue {
         --paper-button-checked-color: var(--paper-light-blue-50);
         --paper-button-checked-ink-color: var(--paper-light-blue-50);
         --paper-button-unchecked-color: var(--paper-light-blue-900);
         --paper-button-unchecked-ink-color: var(--paper-light-blue-900);
     }
     paper-button.blue {
         color: var(--paper-light-blue-500);
         --paper-button-flat-focus-color: var(--paper-light-blue-50);
     }
     paper-button.blue:hover {
         background: var(--paper-light-blue-50);
     }
     paper-button.blue[active] {
         background: var(--paper-light-blue-500);
     }
     .alert-error {
       background: #ffcdd2;
       border: 1px solid #f44336;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
     }
     .alert-ok {
       background: #98fb98;
       border: 1px solid #6B8e23;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <iron-ajax
     id = "putUserData"
     url="[[baseUrl]]/apitechu/v1/users"
     content-type="application/json"
     method="PUT"
     handle-as="json"
     headers='{{headers}}'
     on-response="manageAJAXResponse"
     on-error="handleUserError">
   </iron-ajax>
   <form action="#" onsubmit="return false" on-submit="modifyUser">
     <div class="row">
       <h4 class="col-md-10 text-center">Modificar datos de usuario</h4>
     </div>
     <div class="row">
       <div class="col-md-3 mb-3">
         <paper-input label="Nombre" id="firstName" value="{{first_name::input}}" required></paper-input>
       </div>
       <div class="col-md-7 mb-3">
         <paper-input label="Apellidos" id="lastName" value="{{last_name::input}}" required></paper-input>
       </div>
     </div>
     <div class="row">
       <div class="col-md-7 mb-3">
         <paper-input label="email" value="{{email::input}}" readonly>
           <iron-icon icon="mail" slot="prefix"></iron-icon>
           <!--div slot="suffix">@email.com</div-->
         </paper-input>
       </div>
       <div class="col-md-3 mb-3">
         <paper-dropdown-menu label="Sexo">
          <paper-listbox slot="dropdown-content" attr-for-selected="value" selected="{{gender}}">
            <paper-item value="Male">Hombre</paper-item>
            <paper-item value="Female">Mujer</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      </div>
    </div>
    <label for="avatar">Avatar</label><br>
    <div class="row">
      <paper-button-group id="avatar" attr-for-selected="value" selected="{{avatar}}">
          <paper-button name="chica1" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica1.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica1.png" alt="Smiley face" height="42" width="42"></paper-button>
          <paper-button name="chica2" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica2.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica2.png" alt="Smiley face" height="42" width="42"></paper-button>
          <paper-button name="chica3" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica3.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica3.png" alt="Smiley face" height="42" width="42"></paper-button><br>
          <paper-button name="chico1" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico1.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico1.png" alt="Smiley face" height="42" width="42"></paper-button>
          <paper-button name="chico2" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico2.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico2.png" alt="Smiley face" height="42" width="42"></paper-button>
          <paper-button name="chico3" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico3.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico3.png" alt="Smiley face" height="42" width="42"></paper-button>
      </paper-button-group>
    </div><br>
    <button class="btn btn-primary btn-lg btn-block col-md-10"  type="submit">Aceptar</button><br>
   </form>
   <template is="dom-if" if="[[response]]">
    <p class="alert-ok" on-click="delete"><strong> OK</strong> [[response]]</p>
   </template>
   <template is="dom-if" if="[[error]]">
     <p class="alert-error" on-click="delete"><strong>ERROR</strong> [[error]]</p>
   </template>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ShowUserdata extends Polymer.Element {
     static get is() { return 'show-userdata'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         storedUser: Object,
         baseUrl: {
             type: String
         },
         email : {
           type: Object
         },
         first_name : {
           type: Object
         },
         last_name : {
           type: Object
         },
         gender : {
           type: Object
         },
         avatar : {
           type: String
         },
         formData  : {
           type: Object,
           value: {}
         },
         selected: function(gender){
           return 0;
         },
         response: {
           type: String
         },
         error: {
           type: String
         },
         reload: {
           type: Number,
           observer: '_reloadChanged'
         }
       }
      };

      delete(){
        this.response = ""
        this.error = "";
      }

      _reloadChanged(){
        this.response = "";
        this.error = "";
      }

      modifyUser(e){
        if (this.storedUser.loggedin) {
          this.headers = {'x-access-token' : this.storedUser.access_token};

          this.formData.first_name = this.first_name;
          this.formData.last_name = this.last_name;
          this.formData.gender = this.gender;
          this.formData.email = this.email;
          this.formData.avatar = this.avatar;

          this.$.putUserData.body = this.formData;

          this.$.putUserData.generateRequest();
          console.log("Petición enviada");
        }
      }
      manageAJAXResponse(data){
        console.log(data.detail.response);
        this.storedUser = {
            name: data.detail.response.first_name,
            avatar: data.detail.response.avatar,
            access_token: this.storedUser.access_token,
            loggedin: this.storedUser.loggedin
        };
        this.response = "Usuario modificado con exito"
      }

      handleUserError(e){
        this.error = "Error al modificar usuario"
      }
    }
   window.customElements.define(ShowUserdata.is, ShowUserdata);
 </script>
</dom-module>
