<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="realizar-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      .alert-ok {
        background: #98fb98;
        border: 1px solid #6B8e23;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h4 class="col-md-6 text-center">Datos transferencia</h4>
    </div>
    <form action="#" onsubmit="return false" on-submit="transferClick">
      <div class="row">
        <div class="col-md-4 mb-3">
          <paper-input label="IBAN" id="iban" pattern="^[A-Za-z]{2}[0-9]{18,25}$" error-message="IBAN con formato incorrecto!" value="{{beneficiaryAccount::input}}" required>
            <iron-icon icon="account-balance" slot="prefix"></iron-icon>
          </paper-input>
        </div>
        <div class="col-md-2 mb-3">
          <paper-input label="Importe" id="amount" type="number" value="{{amount::input}}" required>
            <iron-icon icon="euro-symbol" slot="suffix"></iron-icon>
          </paper-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <paper-input label="Comentario" id="comment" type="text" value="{{comment::input}}" required>
            <iron-icon icon="speaker-notes" slot="prefix"></iron-icon>
          </paper-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <button class="btn btn-info col-md-12 mb-3" type="submit">Aceptar</button>
        </div>
      </div><br>
    </form>

    <div class="row">
      <template is="dom-if" if="[[responseOk]]">
        <div class="col-md-6 mb-3">
          <p class="alert-ok" on-click="delete"><strong>OK</strong>[[responseOk]].</p>
        </div>
     </template>
     <template is="dom-if" if="[[responseError]]">
       <div class="col-md-6 mb-3">
         <p class="alert-error" on-click="delete"><strong>ERROR</strong> [[responseError]]</p>
       </div>
     </template>
    </div>

    <iron-ajax
      id = "doTransfer"
      url="[[baseUrl]]/apitechu/v2/users/accounts/{{accountid}}/transfer"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      headers='{{headers}}'>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RealizarTransferencia extends Polymer.Element {
      static get is() { return 'realizar-transferencia'; }
      static get properties() {
        return {
          beneficiaryAccount: {
            type: String
          },
          amount: {
            type: Number
          },
          comment: {
            type: String
          },
          accountid: {
            type: Number
          },
          storedUser: Object,
          baseUrl: {
              type: String
          },
          responseOk: {
            type: String
          },
          responseError: {
            type: String
          }
        };
      }

      delete(){
        this.responseOk = ""
        this.responseError = "";
      }

      transferClick(){
        console.log("El usuario ha pulsado el botón");
        if (this.storedUser.loggedin) {
          var transferData = {
            "amount": this.amount,
            "beneficiaryAccount": this.beneficiaryAccount,
            "comment": this.comment
          };

          this.headers = {'x-access-token' : this.storedUser.access_token};
          this.$.doTransfer.body = JSON.stringify(transferData);
          if (this.amount && this.beneficiaryAccount){
            this.$.doTransfer.generateRequest();
            console.log("Petición enviada");
          }
        }
      }

      manageAJAXResponse(data) {
        console.log("Transferencia realizada");
        this.responseOk = "Transferencia realizada con exito";

        this.beneficiaryAccount = "";
        this.amount = "";
        this.commet = "";

        this.dispatchEvent(
          new CustomEvent(
            "transfer-done",
            {
              "detail" : {
                "msg" : "Ok"
              }
            }
          )
        );
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.responseError = "Es necesario firmar la transferencia. Revisa tu bandeja de entrada";

        this.beneficiaryAccount = "";
        this.amount = "";
        this.commet = "";

        this.dispatchEvent(
          new CustomEvent(
            "transfer-error",
            {
              "detail" : {
                "msg" : "Error"
              }
            }
          )
        );
      }
    }

    window.customElements.define(RealizarTransferencia.is, RealizarTransferencia);
  </script>
</dom-module>
