ve<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./put-userpassword.html">
<link rel="import" href="./show-userpassword.html">

<dom-module id="modificar-password">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <put-userpassword  id="putter" accountid="{{accountid}}" base-url="[[baseUrl]]" on-passwordchangeconfirmed="passwordChanged" on-passwordchangeerror="passwordChangedError"></put-userpassword>
   <show-userpassword id="showerdata" on-passwordchangerequested="putUserPassword"></show-userpassword>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ModificarPassword extends Polymer.Element {
     static get is() { return 'modificar-password'; }
     static get properties() {
       return {
        accountid: {
          type: Number
        },
        baseUrl: {
            type: String
        },
        reload: {
          type: Number,
          observer: '_reloadChanged'
        }
       };
     }

     _reloadChanged(){
       this.$.showerdata.reload = this.reload;
     }

     putUserPassword(e){
       console.log("Se ha procesado el evento password changed");
       this.$.putter.formData = e.detail;
       this.$.putter.putUserPassword();
     }

     getAccautData(){
       this.$.putter.getAccautData();
     }

     passwordChanged(e){
       console.log("Se ha procesado el cambio de contraseña");
       this.$.showerdata.response = e.detail.msg;
     }

     passwordChangedError(e){
       console.log("Error al camiar password");
       this.$.showerdata.error = e.detail.msg;
     }
   }

   window.customElements.define(ModificarPassword.is, ModificarPassword);
 </script>
</dom-module>
