<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<dom-module id="put-userpassword">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


   <iron-ajax
     id = "putUserPassword"
     url="[[baseUrl]]/apitechu/v1/users/password"
     content-type="application/json"
     method="PUT"
     handle-as="json"
     headers='{{headers}}'
     on-response="manageAJAXResponse"
     on-error="handleUserError">
   </iron-ajax>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PutUserPassword extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'put-userpassword'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         storedUser: Object,
         accountid: {
           type: Number
         },
         baseUrl: {
             type: String
         },
         formData  : {
           type: Object,
           value: {}
         }
       };
     }

     putUserPassword() {
       console.log("Enviar PUT /apitechu/v1/users/password");
       if (this.storedUser.loggedin) {
         // add token authorization and generate Ajax request
         this.headers = {'x-access-token' : this.storedUser.access_token};
         this.$.putUserPassword.body = this.formData;
         this.$.putUserPassword.generateRequest();
       }
     }

     manageAJAXResponse(data){
       console.log("Se ha recibido respuesta del API /apitechu/v1/users/password");
       this.dispatchEvent(
         new CustomEvent(
           "passwordchangeconfirmed",
           {
             "detail" : {
               "msg" : data.detail.response.msg
             }
           }
         )
       );
     }

     handleUserError(data){
       console.log("Error en respuesta del API /apitechu/v1 /users/password");
       this.dispatchEvent(
         new CustomEvent(
           "passwordchangeerror",
           {
             "detail" : {
               "msg" : data.detail.request.xhr.response.msg
             }
           }
         )
       );
     }

   }
   window.customElements.define(PutUserPassword.is, PutUserPassword);
 </script>
</dom-module>
