<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<dom-module id="show-userpassword">
 <template>
   <style>
     :host {
       display: block;
     }
     .alert-error {
       background: #ffcdd2;
       border: 1px solid #f44336;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
     }
     .alert-ok {
       background: #98fb98;
       border: 1px solid #6B8e23;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
   <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <form action="#" onsubmit="return false" on-submit="modifyPassword" on-focus="cleanResponse">
    <div class="row">
      <h4 class="col-md-12 text-center">Modificar contraseña</h4>
    </div>
    <paper-password-input label="Contraseña actual" value="{{formData.oldPassword}}"></paper-password-input>
    <match-passwords-validator id="match-passwords-validator" password="[[formData.newPassword]]"></match-passwords-validator>
    <paper-password-input label="Nueva contraseña" value="{{formData.newPassword}}"></paper-password-input>
    <paper-password-input label="Confirmar contraseña" value="{{formData.confirmNewPassword}}" auto-validate validator="match-passwords-validator" error-message="Las contraseñas no coinciden"></paper-password-input>
    <br>
    <button class="btn btn-primary btn-lg btn-block col-md-12"  type="submit" disable>Aceptar</button>
   </form>
   <br>
   <template is="dom-if" if="[[response]]">
     <p class="alert-ok" on-click="delete"><strong>OK</strong> [[response]]</p>
   </template>
   <template is="dom-if" if="[[error]]">
     <p class="alert-error" on-click="delete"><strong>ERROR</strong> [[error]]</p>
   </template>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ShowUserPassword extends Polymer.Element {
     static get is() { return 'show-userpassword'; }
     static get properties() {
       return {
         headers: {
           type: Object
         },
         storedUser: Object,
         baseUrl: {
             type: String
         },
         formData  : {
           type: Object,
           value: {}
         },
         response: {
           type: String,
           observer: '_responseChanged'
         },
         error: {
           type: String,
           observer: '_responseChanged'
         }
       }
      };
      _responseChanged(){
        this.formData = ""
      }


      delete(){
        this.response = ""
        this.error = "";
      }

      modifyPassword(e){
        console.log("Modificar Contraseña");
        if (this.storedUser.loggedin) {
          this.headers = {'x-access-token' : this.storedUser.access_token};

          this.dispatchEvent(
            new CustomEvent(
              "passwordchangerequested",
              {
                "detail" : {
                  "oldpassword" : this.formData.oldPassword,
                  "newpassword" : this.formData.newPassword
                }
              }
            )
          );
        }
      }
    }
   window.customElements.define(ShowUserPassword.is, ShowUserPassword);
 </script>
</dom-module>
