<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="contratar-cuenta">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      .alert-ok {
        background: #98fb98;
        border: 1px solid #6B8e23;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


   <iron-ajax
     id = "ajaxCreateAccount"
     url="[[baseUrl]]/apitechu/v1/users/accounts"
     method="POST"
     handle-as="json"
     headers='{{headers}}'
     on-response="manageAJAXResponse"
     on-error="showError">
   </iron-ajax>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row">
      <h4 class="col-md-6 text-center">Contrata una nueva cuenta</h4>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <button class="btn btn-primary btn-lg btn-block col-md-12  mb-3" on-click="createAccount">Contratar</button><br>
      </div>
    </div>
    <div class="row">
       <template is="dom-if" if="[[responseOk]]">
         <div class="col-md-6 mb-3">
           <p class="alert-ok"><strong>OK: </strong>[[responseOk]].</p>
         </div>
      </template>
      <template is="dom-if" if="[[responseError]]">
        <div class="col-md-6 mb-3">
          <p class="alert-error"><strong>ERROR: </strong> [[responseError]]</p>
        </div>
      </template>
     </div>

  </template>

  <script>
    class ContratarCuenta extends Polymer.Element {
        static get is() {
            return 'contratar-cuenta';
        }

        static get properties() {
            return {
              storedUser:{
                type: Object
              },
              baseUrl: {
                  type: String
              },
              responseOk: {
                type: String
              },
              responseError: {
                type: String
              },
              page : {
                type: Number,
                observer: '_pageChanged'
              }
            }
        }

        _pageChanged(){
          if (this.page == "contratar-cuenta"){
            this.responseOk = "";
            this.responseError = "";
          }
        }

        createAccount (){
          console.log("Contratar cuenta");
          if (this.storedUser.loggedin) {
            this.headers = {'x-access-token' : this.storedUser.access_token};
            this.$.ajaxCreateAccount.generateRequest();
            console.log("Petición enviada");
          }
        }

        manageAJAXResponse(data) {
          console.log("Cuenta creada");
          this.responseOk = "Cuenta creada con exito";
        }

        showError(error){
          console.log("Hubo un error");
          console.log(error);
          this.responseError = "Error al contratar cuenta";
        }
    }

    window.customElements.define(ContratarCuenta.is, ContratarCuenta);
</script>
</dom-module>
