<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button-group/paper-button-group.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="../../bower_components/paper-password-input/match-passwords-validator.html">

<dom-module id="crear-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      .alert-ok {
        background: #98fb98;
        border: 1px solid #6B8e23;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      paper-button.blue {
          --paper-button-checked-color: var(--paper-light-blue-50);
          --paper-button-checked-ink-color: var(--paper-light-blue-50);
          --paper-button-unchecked-color: var(--paper-light-blue-900);
          --paper-button-unchecked-ink-color: var(--paper-light-blue-900);
      }
      paper-button.blue {
          color: var(--paper-light-blue-500);
          --paper-button-flat-focus-color: var(--paper-light-blue-50);
      }
      paper-button.blue:hover {
          background: var(--paper-light-blue-50);
      }
      paper-button.blue[active] {
          background: var(--paper-light-blue-500);
      }

    </style>
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <form action="#" onsubmit="return false" on-submit="createClient">
      <div class="row">
        <h4 class="col-md-8 text-center">Datos del cliente</h4>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <paper-input label="Nombre" id="firstName" value="{{client.first_name::input}}" required></paper-input>
        </div>
        <div class="col-md-5 mb-3">
          <paper-input label="Apellidos" id="lastName" value="{{client.last_name::input}}" required></paper-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <paper-input label="email" value="{{client.email::input}}">
            <iron-icon icon="mail" slot="prefix"></iron-icon>
            <div slot="suffix">@email.com</div>
          </paper-input>
        </div>
        <div class="col-md-3 mb-3">
          <paper-dropdown-menu label="Sexo">
           <paper-listbox slot="dropdown-content" attr-for-selected="value" selected="{{client.gender}}">
             <paper-item value="Male">Hombre</paper-item>
             <paper-item value="Female">Mujer</paper-item>
           </paper-listbox>
         </paper-dropdown-menu>
       </div>
      </div>
      <label for="avatar">Avatar</label><br>
      <div class="row">
        <paper-button-group id="avatar" attr-for-selected="value" selected="{{client.avatar}}">
            <paper-button name="chica1" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica1.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica1.png" alt="Smiley face" height="42" width="42"></paper-button>
            <paper-button name="chica2" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica2.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica2.png" alt="Smiley face" height="42" width="42"></paper-button>
            <paper-button name="chica3" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica3.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chica3.png" alt="Smiley face" height="42" width="42"></paper-button>
            <paper-button name="chico1" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico1.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico1.png" alt="Smiley face" height="42" width="42"></paper-button>
            <paper-button name="chico2" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico2.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico2.png" alt="Smiley face" height="42" width="42"></paper-button>
            <paper-button name="chico3" value="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico3.png" class="blue"><img src="https://s3-eu-west-1.amazonaws.com/bucket-iac/avatar_chico3.png" alt="Smiley face" height="42" width="42"></paper-button>
        </paper-button-group>
      </div>
      <div class="row">
        <match-passwords-validator id="match-passwords-validator" password="[[client.password]]"></match-passwords-validator>
        <div class="col-md-8 mb-3">
          <paper-password-input label="Nueva contraseña" value="{{client.password}}"></paper-password-input>
          <paper-password-input label="Confirmar contraseña" value="{{confirmNewPassword}}" auto-validate validator="match-passwords-validator" error-message="Las contraseñas no coinciden"></paper-password-input>
        </div>
      </div>
      <br>
     <button class="btn btn-primary btn-lg btn-block col-md-8" type="submit">Aceptar</button><br>
    </form>
    <div class="row">
      <template is="dom-if" if="[[responseOk]]">
        <div class="col-md-8 mb-3">
          <p class="alert-ok"><strong></strong> [[responseOk]]. Haga  <a href="/login-usuario">login</a> en la aplicación</p>
        </div>
     </template>
     <template is="dom-if" if="[[responseError]]">
       <div class="col-md-8 mb-3">
         <p class="alert-error"><strong></strong> [[responseError]]</p>
       </div>
     </template>
    </div>

    <iron-ajax
      id = "ajaxCreateClient"
      url="[[baseUrl]]/apitechu/v1/users"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearCliente extends Polymer.Element {
      static get is() { return 'crear-cliente'; }
      static get properties() {
        return {
          client: {
            type: Object,
            value: {}
          },
          confirmNewPassword : {
            type: String
          },
          storedUser: Object,
          baseUrl: {
              type: String
          },
          responseOk: {
            type: String
          },
          responseError: {
            type: String
          },
          reload: {
            type: Number,
            observer: '_reloadChanged'
          }
        };
      }

      _reloadChanged(){
        this.responseOk = "";
        this.responseError = "";
      }

      createClient(){
        console.log("El usuario ha pulsado el botón");
        if (!this.storedUser) {
          console.log(this.client);
          this.$.ajaxCreateClient.body = this.client;
          this.$.ajaxCreateClient.generateRequest();
          console.log("Petición enviada");
        }
      }

      manageAJAXResponse(data) {
        console.log("cliente creado con exito");
        this.client = "";
        this.confirmNewPassword = "";
        this.responseOk = "Cliente creado con exito";
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.responseError = "Error al crear cliente";
      }
    }

    window.customElements.define(CrearCliente.is, CrearCliente);
  </script>
</dom-module>
