<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="eliminar-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <button class="btn btn-primary btn-lg btn-block col-md-7" on-click="deleteUser">Eliminar Usuario</button>

    <iron-ajax
      id = "ajaxDeleteUser"
      url="[[baseUrl]]/apitechu/v1/users"
      method="DELETE"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      headers='{{headers}}'>
  </template>

  <script>
    class EliminarUsuario extends Polymer.Element {
        static get is() { return 'eliminar-usuario'; }

        static get properties() {
            return {
              accountid: {
                type: Number
              },
              componentName : {
                type : String
              }
            };
        }

        deleteUser(e){
          console.log("Se solicita borrar el usuario");
          if (this.storedUser.loggedin) {
            this.headers = {'x-access-token' : this.storedUser.access_token};
            this.$.ajaxDeleteUser.generateRequest();
            console.log("Petición enviada");
          }
        }

        manageAJAXResponse(e){
          console.log("Usuario eliminado con exito");
          this.storedUser = null;
          this.set('route.path', '/home-page');
        }
    }
    window.customElements.define(EliminarUsuario.is, EliminarUsuario);
  </script>
</dom-module>
