<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./crear-cliente.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card">
      <h1>Bienvenido a TechU Bank IAC</h1>
    </div>
    <div class="wrapper-btns" hidden$="[[storedUser]]">
      <paper-button raised class="primary" on-tap="showCreateClient">Dar de alta</paper-button>
    </div>

    <div id="authenticated" hidden$="[[!buttonpushed]]">
      <crear-cliente id="crearcliente" accountid="{{accountid}}" base-url="[[baseUrl]]"></crear-cliente>
    </div>
  </template>

  <script>
      class HomePage extends Polymer.Element {
          static get is() { return 'home-page'; }

          static get properties() {
              return {
                accountid: {
                  type: Number
                },
                storedUser: Object,
                buttonpushed: {
                  type: Boolean,
                  value: false
                },
                baseUrl: {
                    type: String
                },
                page : {
                  type: Number,
                  observer: '_pageChanged'
                }
              };
          }

          _pageChanged(){
            if (this.page == "home-page"){
              this.buttonpushed = false;
              this.$.crearcliente.reload = Math.random();
            }
          }

          showCreateClient (){
            if (!this.storedUser)
              this.buttonpushed = true;
          }
      }

      window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
