<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id = "doLogin"
      url="[[baseUrl]]/apitechu/v1/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-ajax
      id = "getUser"
      url="[[baseUrl]]/apitechu/v1/me"
      handle-as="json"
      method="GET"
      on-response="handleMeResponse"
      headers='{{headers}}'>
    </iron-ajax>

    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Log In</h1>

        <p>Haz <strong>Log in</strong> para acceder a tus cuentas</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="text" value="{{formData.email}}" placeholder="Email">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.name]]!</h2>
        <p>You are currently logged in. You can access <a href="/posicion-global">Posición global</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class LoginUsuario extends Polymer.Element {
          static get is() { return 'login-usuario'; }

          static get properties() {
              return {
                headers: {
                   type: Object
                },
                customHeader: {
                   value: 'hello world!'
                },
                formData  : {
                  type: Object,
                  value: {}
                },
                storedUser: Object,
                error: String,
                accessToken:String,
                baseUrl: {
                    type: String
                }
              };
          }

          _setReqBody() {
              this.$.doLogin.body = this.formData;
          }

          postLogin() {
            console.log("El usuario ha pulsado el botón");
            this._setReqBody();
            this.$.doLogin.generateRequest();
            console.log("Petición enviada");
          }

          manageAJAXResponse(event) {
            var response = event.detail.response;
            if (response.token) {
                this.error = '';
                this.accessToken = response.token;
                this.headers =  {'x-access-token' : response.token};
                this.storedUser = {
                    access_token: this.accessToken,
                    loggedin: true
                };
                this.formData = "";
                this.error = "";
                this.$.getUser.generateRequest();
                this.set('route.path', '/posicion-global');
            }
          }

          handleMeResponse(event) {
            var response = event.detail.response;
            // if (response.logged) {
              console.log("Almacenados datos de usuario: " + response.first_name);
              this.error = '';
              this.storedUser = {
                  name: response.first_name,
                  avatar: response.avatar,
                  access_token: this.accessToken,
                  loggedin: true
              };
          //  }
          }

          handleUserError(event) {
              console.log(event);
              //this.error = event.detail.request.xhr.response;
              this.error = "Usuario o contraseña no validos"
          }
      }

      window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
