<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="./modificar-datosusuario/modificar-datosusuario.html">
<link rel="import" href="./modificar-password/modificar-password.html">
<link rel="import" href="./eliminar-usuario.html">
<link rel="import" href="shared-styles.html">

<dom-module id="modificar-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <div class="row">
      <div class="col-md-6 mb-3">
        <modificar-datosusuario id="modificardatos" base-url="[[baseUrl]]" on-accountselected="accountSelected"></modificar-datosusuario>
      </div>
      <div class="col-md-6 mb-3">
        <modificar-password id="modificarpassword" base-url="[[baseUrl]]" on-accountselected="accountSelected"></modificar-password>
      </div>
    </div>
    <hr class="mb-4">
    <div class="col-md-6 mb-3">
      <eliminar-usuario base-url="[[baseUrl]]"></eliminar-usuario>
    </div>

  </template>

  <script>
    class ModificarUsuario extends Polymer.Element {
        static get is() { return 'modificar-usuario'; }

        static get properties() {
            return {
              accountid: {
                type: Number
              },
              page : {
                type: Number,
                observer: '_pageChanged'
              }
            };
        }

        _pageChanged(){
          if (this.page == "modificar-usuario"){
            this.$.modificardatos.reload = Math.random();
            this.$.modificarpassword.reload = Math.random();
          }
        }

        createAccount(e){
          console.log("El usuario ha pulsado el botón");
          if (this.storedUser.loggedin) {
            this.headers = {'x-access-token' : this.storedUser.access_token};
            this.$.ajaxCreateAccount.generateRequest();
            console.log("Petición enviada");
          }
        }
    }
    window.customElements.define(ModificarUsuario.is, ModificarUsuario);
  </script>
</dom-module>
