<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="home-pages.html">
<link rel="lazy-import" href="login-usuario.html">
<link rel="lazy-import" href="posicion-global.html">
<link rel="lazy-import" href="operar-cuenta.html">
<link rel="lazy-import" href="crear-cliente.html">
<link rel="lazy-import" href="modificar-usuario.html">
<link rel="lazy-import" href="not-found.html">

<link rel="import" href="log-out.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
    </style>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap-4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./bootstrap-4.0.0/dist/css/sticky-footer-navbar.css" rel="stylesheet">

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <!--iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage-->
    <session-storage name="user-storage" value="{{storedUser}}"></session-storage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

   <app-drawer-layout fullbleed narrow="{{narrow}}">
     <!-- Main content -->
     <app-header-layout has-scrolling-region>

       <app-header slot="header" condenses reveals effects="waterfall">
         <app-toolbar>
           <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
             <a class="navbar-brand" href="#">TechU Bank IAC</a>
             <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
             </iron-selector>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item"  hidden$="[[!storedUser.loggedin]]">
                   <a class="nav-link" href="[[rootPath]]posicion-global">Posición global</a>
                 </li>
                 <li class="nav-item"  hidden$="[[!storedUser.loggedin]]">
                   <a class="nav-link" href="[[rootPath]]operar-cuenta">Operar</a>
                 </li>
                 <li class="nav-item"  hidden$="[[!storedUser.loggedin]]">
                   <a class="nav-link" href="[[rootPath]]contratar-cuenta">Contratar</a>
                 </li>
               </ul>
             </div>

             <a name="register-login" href="[[rootPath]]login-usuario" hidden$="[[storedUser.loggedin]]">Log in</a>
             <div class="nav-item" hidden$="[[!storedUser.loggedin]]">
               <a class="navbar-brand" href="[[rootPath]]modificar-usuario">Hola [[storedUser.name]]!</a>
               <img src="[[storedUser.avatar]]" alt="Smiley face" height="42" width="42">
               <log-out stored-user="{{storedUser}}" base-url="[[apitechuURL]]" link></log-out>
             </div>
           </nav>
         </app-toolbar>
       </app-header>

       <iron-pages
           id="ironpages"
           selected="[[page]]"
           attr-for-selected="name"
           fallback-selection="not-found"
           role="main">
         <home-page name="home-page" base-url="[[apitechuURL]]" page="{{page}}"></home-page>
         <login-usuario name="login-usuario" base-url="[[apitechuURL]]" page="{{page}}"></login-usuario>
         <posicion-global name="posicion-global" base-url="[[apitechuURL]]" page="{{page}}"></posicion-global>
         <operar-cuenta name="operar-cuenta" base-url="[[apitechuURL]]" page="{{page}}"></operar-cuenta>
         <contratar-cuenta name="contratar-cuenta" base-url="[[apitechuURL]]" page="{{page}}"></contratar-cuenta>
         <modificar-usuario name="modificar-usuario" base-url="[[apitechuURL]]" page="{{page}}"></modificar-usuario>
         <not-found name="not-found"></not-found>
       </iron-pages>
     </app-header-layout>

   </app-drawer-layout>



   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="./bootstrap-4.1.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
   <script src="./bootstrap-4.1.1/assets/js/vendor/popper.min.js"></script>
   <script src="./bootstrap-4.1.1/dist/js/bootstrap.min.js"></script>

  </template>

  <script>
      class MyApp extends Polymer.Element {
          static get is() { return 'my-app'; }

          static get properties() {
              return {
                  page: {
                      type: String,
                      reflectToAttribute: true,
                      observer: '_pageChanged',
                  },
                  routeData: Object,
                  subroute: String,
                  rootPath: String,
                  storedUser: Object,
                  apitechuURL: {
                    value: 'http://apitechuiac-route-iactechu.7e14.starter-us-west-2.openshiftapps.com'
                    //value: 'http://172.17.0.2:3000'
                  }
              };
          }

          static get observers() {
              return [
                  '_routePageChanged(routeData.page)',
              ];
          }

          _routePageChanged(page) {
              console.log("Cambia ruta a: " + page);

              this.page = page || 'home-page';

              if (this.storedUser == null && page != "login-usuario")
                this.set('route.path', '/home-page');
          }

          _pageChanged(page) {
              // Load page import on demand. Show 404 page if fails
              console.log("Cambia pagina a: " + page);

              var resolvedPageUrl = this.resolveUrl(page + '.html');
              Polymer.importHref(
                  resolvedPageUrl,
                  null,
                  this._showPage404.bind(this),
                  true);
          }

          _showPage404() {
              this.page = 'not-found';
          }
      }

      window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
