<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="./visor-cuentas/visor-cuentas.html">
<link rel="import" href="./operar-cuenta/realizar-transferencia.html">
<link rel="import" href="./operar-cuenta/realizar-traspaso.html">
<!--link rel="import" href="../shared-styles.html"-->

<dom-module id="operar-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h1 class="col-md-12">Realizar operación</h1>
    <visor-cuentas id="visorcuentas"  base-url="[[baseUrl]]" on-accountselectedinvisor="accountSelected"></visor-cuentas><br>

    <iron-pages selected="[[operar]]" attr-for-selected="operacion">
      <div operacion="ok">
        <label id="tipo">Tipo Operacion:</label>
        <paper-radio-group aria-labelledby="tipo" selected="{{tipoOperacion}}">
          <paper-radio-button name="transfer">Transferencia</paper-radio-button>
          <paper-radio-button name="owntransfer">Traspaso</paper-radio-button>
        </paper-radio-group>
        <iron-pages selected="[[tipoOperacion]]" attr-for-selected="operation-type">
          <div operation-type="transfer">
            <realizar-transferencia accountid="{{accountid}}" base-url="[[baseUrl]]" on-transfer-done="transferFinish" on-transfer-error="transferFinish"></realizar-transferencia>
          </div>
          <div operation-type="owntransfer">
            <realizar-traspaso id="traspaso" accountid="{{accountid}}" base-url="[[baseUrl]]" on-transferown-done="transferOwnFinish" on-transferown-error="transferOwnFinish"></realizar-traspaso>
          </div>
        </iron-pages>
    </div>
    </iron-pages>
  </template>

  <script>
    class OperarCuenta extends Polymer.Element {
        static get is() { return 'operar-cuenta'; }

        static get properties() {
            return {
              accountid: {
                type: Number
              },
              tipoOperacion : {
                type : String
              },
              baseUrl: {
                  type: String
              },
              accounts:{
                type : Object
              },
              operar: {
                type: String
              },
              page : {
                type: Number,
                observer: '_pageChanged'
              }
            };
        }

        _pageChanged(){
          if (this.page == "operar-cuenta"){
            console.log("Reload operar-cuenta");
            this.$.visorcuentas.reload = Math.random();
            this.operar = null;
            this.tipoOperacion = "";
          }
        }

        transferOwnFinish(){
          this.$.visorcuentas.reload = Math.random();
        }


        transferFinish(){
          this.$.visorcuentas.reload = Math.random();
        }

        accountSelected(e){
          this.accounts = e.detail.accounts
          this.$.traspaso.accounts = this.accounts
          this.accountid = e.detail.accountSelected.accountid
          this.componentName = "tipo-operacion"
          this.operar = "ok"
        }
    }
    window.customElements.define(OperarCuenta.is, OperarCuenta);
  </script>
</dom-module>
