<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./session-storage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="./visor-cuentas/visor-cuentas.html">
<link rel="import" href="shared-styles.html">

<dom-module id="posicion-global">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1 class="col-md-12">Posición Global</h1>
    <visor-cuentas id="visorcuentas" base-url="[[baseUrl]]" on-accountselectedinvisor="accountSelected"></visor-cuentas><br>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name"> <!--IRON-PAGES para mostrar o ocultar componentes-->
      <div component-name="visor-movimientos">
        <visor-movimientos id="visormovimientos" base-url="[[baseUrl]]"></visor-movimientos>
      </div>
    </iron-pages>
  </template>

  <script>
    class PosicionGlobal extends Polymer.Element {
        static get is() { return 'posicion-global'; }

        static get properties() {
            return {
              accountid: {
                type: Number
              },
              componentName : {
                type : String
              },
              page : {
                type: Number,
                observer: '_pageChanged'
              }
            };
        }

        _pageChanged(){
          if (this.page == "posicion-global"){
            console.log("Reload posicion-global");
            this.$.visorcuentas.reload = Math.random();
            this.componentName = ""
          }
        }

        accountSelected(e){
          this.accountid = e.detail.accountSelected.accountid
          this.$.visormovimientos.accountid = this.accountid;
          this.componentName = "visor-movimientos"
        }
    }
    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
